*{
    box-sizing: border-box;
}

header
{
    display: flex;
    align-items: center;
    background-color: rgb(212, 164, 231);
    height: 65px;
}
header img{
    height:100%;
    margin-left: 13px;
}
.header--title{
    font-size: 1.25rem;
    margin-left: 13px;
}

.header--project{
    font-size: 1.25rem;
    font-weight: 500;
    margin-right: auto;
    padding-left: 30px;
}

.form{
    display: grid;
    grid-template: 40px 40px/ 1fr 1fr;
    /* padding-top: 15px; */
}
.form--input{
    font-family: "karla", sans-serif;
    margin-bottom: 15px;
    margin-left: 5px;
    border-radius: 5px;
    
}

.form--button{
    grid-column: 1 / -1;
    font-family: "karla", sans-serif;
    border-radius: 5px;
    background-color: rgb(250, 126, 213);
    color:white;
}
main{
    padding: 36px;
}
.meme-image{
    width: 50%;
    height: 50%;
}
